<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/CSS/Authorization.css">
    <link rel="shortcut icon" href="/Public/ICON/404.svg" type="image/x-icon">
    <style>
        .NotFound{
            font-weight: bold;
            font-size: 36pt; 
            width: 95%; 
            margin-bottom: 30px;
        }
        a{
            font-size: 15pt;
        }
        .Con{
            display: flex; 
            flex-direction: row; 
            justify-content: space-between; 
            align-items: center; 
            flex-wrap: wrap;
        }
    </style>
    <title>Not Found</title>
</head>
<body>
    <div class="flex_Page">
        <div class="Authorization">
            <div class="NotFound" align="center">404 Page not found</div>
            <div class="Con"> 
                <a href="/Modules/Authorization" style="word-wrap: none;">Sign in</a>
                <a href="/Modules/Registration" style="word-wrap: none;">Sign up</a>
                <a href="/Modules/News" style="word-wrap: none; margin-top: 10px;">News</a>
            </div>
        </div>
    </div>
</body>
</html>