<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/CSS/Authorization.css">
    <link rel="shortcut icon" href="/Public/ICON/Authorization.svg" type="image/x-icon">
    <title>Authorization</title>
</head>
<body>
    <div class="flex_Page">
        <form class="Authorization" method="POST" action="/Modules/Authorization">
            <div class="Welcome">Welcome back!</div>
            <div class="form_group">
                <input type="email" name="email" class="form_input" placeholder="Email" required>
            </div>
            <div class="form_group">
                <input type="password" name="password" class="form_input" placeholder="Password"  required>
            </div>
            <div class="footer">
                <div class="inFooter"> 
                    <a href="/Modules/News">News</a>
                    <a href="/Modules/Registration" style="margin-left: 20px; word-wrap: none;">Sign up</a>
                    <a href="/Modules/ForgotPassword" style="margin-left: 20px; word-wrap: none;">Forgot Password</a>
                </div>
                <label>
                    <img src="/Public/ICON/in.svg" alt="Erorr" width="90px" height="90px" class="in">
                    <input type="submit" style="display: none;">
                </label>
            </div>
        </form>
    </div>
    <script src="/Public/JavaScript/Authorization.js"></script>
</body>
</html>