<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/CSS/Authorization.css">
    <title>Authorization</title>
</head>
<body>
    <div class="flex_Page">
        <form class="Authorization" action="">
            <div style="font-weight: bold; font-size: 34pt; width: 190px;">Welcome back!</div>
            <div class="form_group">
                <input type="email" class="form_input">
                <label class="form_label">Email</label>
            </div>
        </form>
    </div>
</body>
</html>