<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/ChangePassword.css">
    <link rel="shortcut icon" href="/public/icon/ForgotPassword.svg" type="image/x-icon">
    <title>Change Password</title>
</head>
<body>
    <div class="flex_Page">
        <form class="ChangePassword" method="POST" action="/modules/ChangePassword">
            <div class="Welcome">Change Password</div>
            <div class="form_group" style="display: none;">
                <input type="text" name="login" class="form_input" required value="<%=login%>">
            </div>
            <div class="form_group" style="display: none;">
                <input type="text" name="code" class="form_input" required value="<%=code%>">
            </div>
            <div class="form_group">
                <input type="password" name="NewPass" class="form_input" placeholder="New password" minlength="8" required>
            </div>
            <div class="form_group">
                <input type="password" name="RepeatNewPass" class="form_input" placeholder="Repeat new password" minlength="8" required>
            </div>
            <div class="footer">
                <label>
                    <img src="/public/icon/in.svg" alt="Erorr" width="90px" height="90px" class="in">
                    <input type="submit" style="display: none;">
                </label>
            </div>
        </form>
    </div>
    <script>
        document.forms[0].addEventListener('submit',(e)=>{
            e.preventDefault();
            
            if(document.forms[0].NewPass.value != document.forms[0].RepeatNewPass.value){
                document.querySelector('[name=RepeatNewPass]').style.borderBottom="3px solid red";
            }
            else{
                var request = new XMLHttpRequest();
                request.overrideMimeType("application/json");
                request.open('POST','/modules/ChangePassword',true);
                request.setRequestHeader('Content-type', 'application/json');
                let inquiry = {login:document.forms[0].login.value, pass:document.forms[0].NewPass.value, code: document.forms[0].code.value}
                request.addEventListener('load', ()=>{
                    let answer = JSON.parse(request.response);
                    if(answer.code == undefined){
                        if(!answer.confirmation){
                            document.forms[0].NewPass.style.borderBottom="3px solid red";
                        }
                        else{
                            document.location.href='/modules/Authorization';
                        }
                    }
                    else{
                        document.forms[0].NewPass.style.borderBottom="3px solid red";
                        document.forms[0].RepeatNewPass.style.borderBottom="3px solid red";
                    }
                });
                request.send(JSON.stringify(inquiry));
                    }
        });
    </script>
</body>
</html>