<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/CSS/ForgotPassword.css">
    <link rel="shortcut icon" href="/Public/ICON/ForgotPassword.svg" type="image/x-icon">
    <title>Forgot Password</title>
</head>
<body>
    <div class="flex_Page">
        <form class="ForgotPassword" method="POST" action="/Modules/ForgotPassword">
            <div class="Welcome">Forgot Password</div>
            <div class="form_group">
                <input type="email" name="email" class="form_input" placeholder="Email" required>
            </div>
            <div class="footer">
                <div class="inFooter"> 
                    <a href="/Modules/Registration">Sign up</a>
                    <a href="/Modules/Authorization" style="margin-left: 20px; word-wrap: none;">Sign in</a>
                </div>
                <label>
                    <img src="/Public/ICON/in.svg" alt="Erorr" width="90px" height="90px" class="in">
                    <input type="submit" style="display: none;">
                </label>
            </div>
        </form>
    </div>
    <script src="/Public/JavaScript/ForgotPassword.js"></script>
</body>
</html>