.CreateNews{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 35px;
    filter: drop-shadow(5px 20px 31px rgba(0, 0, 0, 0.3));
    padding: 2%;
    margin-right: 35px;
    overflow: hidden;
}

.imgAndText{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.head{
    display: flex;
    justify-content: center;
    width: 10vw;
    min-width: 100px;
    height: 28.2vh;
    border-radius: 10px;
    border: 3px solid rgba(135, 152, 158, 0.56);
    transition: 0.3s;
    background: url('/public/icon/headImg.svg');
    background-size: 8vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.head:hover{
    cursor: pointer;
    border: 3px solid #5EAAC1;
    background: url('/public/icon/headImgBlue.svg');
    background-size: 10vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}


.titAndArt{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88%;
}
.adNews{
    font-family: Roboto;
    color:#5D5D5D;
    font-weight: bold;
    font-size: 36pt; 
    margin-bottom: 30px;
}

.form_group{
    position: relative;
    margin-bottom: 30px;
}
.form_input{
    margin-top: 10px;
    font-family: Roboto;
    font-size: 80%;
    width: 95%;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.3s;
    border-bottom: 3px solid rgba(135, 152, 158, 0.56);
    
}

.form_input:focus{
    border-bottom: 3px solid #5EAAC1;
}

.content{
    width: 40vw;
    height: 20vh;
    font-family: Roboto;
    font-size: 100%;
    border: 3px solid rgba(135, 152, 158, 0.56);
    background-color: transparent;
    resize: none;
    outline: none;
    border-radius: 10px;
}

.content:focus{
    border: 3px solid #5EAAC1;
}

.dopPhoto1, .dopPhoto2, .dopPhoto3{
    display: flex;
    justify-content: center;
    width: 10vw;
    min-width: 100px;
    height: 15vh;
    border-radius: 10px;
    border: 3px solid rgba(135, 152, 158, 0.56);
    transition: 0.3s;
    background: url('/public/icon/headImg.svg');
    background-size: 5vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.container1, .container2, .container3{
    margin-top: 10px;
}

.dopPhoto1:hover, .dopPhoto2:hover, .dopPhoto3:hover{
    cursor: pointer;
    border: 3px solid #5EAAC1;
    background: url('/public/icon/headImgBlue.svg');
    background-size: 7vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.send{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background: url('/public/icon/SendDark.svg');
    opacity: 0.5;
    background-size: 70px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}
.send:hover{
    cursor: pointer;
    background: url('/public/icon/Send.svg');
    background-size: 85px;
    opacity: 1;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

@media (max-width: 1100px) {
    .CreateNews{margin-right: 0px; width: 90%;}
}

@media (max-width:510px) {
    .adNews{font-size: 30pt; margin-bottom: 10px; margin-top: 10px;}
    .send{width: 90px; height: 90px; background-size: 50px;}
    .send:hover{background-size: 60px;}
}

@media (max-width:450px) {
    .CreateNews{border-radius: 35px;}
}

@media (max-width:380px) {
    .adNews{font-size: 20pt; }
}