a{
    color: black;
    text-decoration: none;
}


.avatarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 40px;
    filter: drop-shadow(5px 20px 31px rgba(0, 0, 0, 0.3));
}

.avatar{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #EDBABA;
    justify-content: center;
    align-items: center;
    font-size: 64pt;
    font-weight: normal;
    color: white;
    font-family: Roboto;
    z-index: 2;

}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 40px;
    filter: drop-shadow(5px 20px 31px rgba(0, 0, 0, 0.3));
}

.Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: -1vw;
}


.ListFPV{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 14pt;
    padding: 20px;
    padding-bottom: 35px;
    font-family: Roboto;
    width: 17vw - 20px;
    margin-top: 30px;
    height: auto;
    background: #FFFFFF;
    border-radius: 40px;
    filter: drop-shadow(5px 20px 31px rgba(0, 0, 0, 0.3));
}

figcaption{font-size: 12pt;}

.ListFPV:hover{
    cursor: pointer;
}

.avatarFriend{
    display: flex;
    border-radius: 50%;
    background-color: #EDBABA;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    font-weight: normal;
    color: white;
    font-family: Roboto;
    z-index: 2;
}

.Show{
    display: flex;
    font-family: Roboto;
    font-size: 20pt;
    font-weight: normal;
}

.Show:hover{
    cursor: pointer;
}

.Showicon{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    background: url('/public/icon/Show.svg');
    background-size: 30px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.PI{
    width: auto;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
}

.PIText{
    margin-top: 5px;
    font-size: 16pt;
    font-family: Roboto;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-weight:lighter;
    z-index: 3;
}

.FrNum:hover, .PhNum:hover, .ViNum:hover, .PoNum:hover{
    cursor: pointer;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 200vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.containerModal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.List{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14pt;
    padding: 20px;
    padding-bottom: 35px;
    font-family: Roboto;
    height: auto;
    background: #FFFFFF;
    border-radius: 40px;
    filter: drop-shadow(5px 20px 31px rgba(0, 0, 0, 0.3));
    width: 60%;
}

.Con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    padding: 20px;
    height: 60vh;
}

.player{
    height: 50%;
    margin: 20px;
}

.imgNum{
    height: 10vw;
    min-height: 100px;
    padding: 20px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.imgNum:hover{
    cursor: pointer;
    height: 10.7vw;
}

.conPhoto{
    z-index: 1;
}

.OpenPhoto{
    height: 40vw;
    border-radius: 15px;
}

.back2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.containerModal2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.swLeft{
    width: 10%;
    filter: brightness(10%);
    opacity: 0.9;
    transform: scale(-1,1);
}

.swLeft:hover{
    cursor: pointer;
}


.swRight{
    width: 10%;
    filter: brightness(10%);
    opacity: 0.9;
}

.swRight:hover{
    cursor: pointer;
}


.avatarFr{
    display: flex;
    border-radius: 50%;
    background-color: #EDBABA;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
    font-weight: normal;
    color: white;
    font-family: Roboto;
}

.ListContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
    margin-top: 20px;
}

.Statis{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16pt;
    font-family: Roboto;
}
.Posts{
    display: flex;
    flex-direction: column;
    width: 97%;
}
.Post{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    filter: drop-shadow(5px 20px 31px rgba(0, 0, 0, 0.3));
    padding: 30px;
    overflow: hidden;
    margin-top: 30px;
}
.date{
    text-align: center;
    margin-left: 15px;
}

.Like{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
    background: url('/public/icon/Like.svg');
    background-size: 30px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.Like:hover{
    cursor: pointer;
    background-size: 38px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.LikeOn{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
    background: url('/public/icon/LikeOn.svg');
    background-size: 30px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.LikeOn:hover{
    cursor: pointer;
    background-size: 38px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.leftPart{
    display: flex; 
    flex-direction: column;
}
.rightPart{
    display: flex; 
    flex-direction: column; 
    width: 60%;
    margin-left: 10px;
}

@media (max-width:726px) {
    .rightPart{width: 100%; margin-top: 20px; align-items: center;}
    .leftPart{width: 100%; align-items: center;}
    .ListAll{width: 70%;}
    figcaption{font-size: 10pt;}
    .avatarContainer{width: 50%;}
    .avatar{width: 170px; height: 170px;}
    .titleContainer{margin-left: 0px;}
    .Show{font-size: 14pt; align-items: center;}
    .PIText{font-size: 12pt; margin-top: 8px;}
    .Statis{font-size: 12pt; flex-wrap: wrap; justify-content: space-around;}
    .createPost{flex-wrap: wrap; align-items: center;}
    .Posts{width: 100%; align-items: center;}
}

@media (max-width:550px) {
    .leftPart{width: 100%; align-items: center;}
    .ListAll{width: 100%;}
    figcaption{font-size: 9pt;}
    .avatarContainer{width: 100%;}
    .avatar{width: 170px; height: 170px;}
    .Post{padding: 15px; border-radius: 30px;}
}