.player{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
  border-radius: 20px;
  background: black;
}

.video{
  width: 100%;
  height: 100%;
}

.controls{
    opacity: 0;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 40px;
    flex-wrap:wrap;
    padding: 15px;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to top, rgba( 0, 0, 0, 0.4), rgba( 0, 0, 0, 0) 80%);
}


.PlayPause:hover{
    cursor: pointer;
}

.TwoX{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    font-family: Roboto;
    opacity: 0.5;
}

.TwoX:hover{
    cursor: pointer;
}

.FullScreen:hover{
    cursor: pointer;
}

.volume{
    overflow: hidden;
    width: 10%;
    height: 10px;
    -webkit-appearance: none;
    background-color: white;
    border-radius: 5px;
  }
  
  .volume::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    
  }
  
  .volume::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #6dd6f7;
    box-shadow: -80px 0 0 80px #5EAAC1;
  }


  .ProgressBar{
    overflow: hidden;
    width: 50%;
    height: 10px;
    -webkit-appearance: none;
    background-color: white;
    border-radius: 5px;
  }

  .ProgressBar:-webkit-slider-runnable-track{
    height: 10px;
    -webkit-appearance: none;
      color: #13bba4;
  }

  .ProgressBar::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #6dd6f7;
    box-shadow: -500px 0 0 500px #5EAAC1;
  }
